#banner {
  /* background-color: rgba(20, 33, 61, .1); */
  text-align: center;
  background: rgb(20,33,61);
  background: linear-gradient(
    160deg, 
    rgba(20,33,61,0.1) 0%, 
    rgba(252,163,17,0.1) 100%
  );
}
#banner .banner_main_heading {
  padding-top: 110px;
}
#banner h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #14213D;
}
#banner .search_box {
  display: flex;
  background-color: #fff;
  margin: 0 55px;
  position: relative;
  padding: 15px 22px;
  border-radius: 40px;
  border: 1px solid rgba(20, 33, 61, .5);
}
#banner .search_box .search_field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #14213D;
}
#banner .search_box .search_field .search_input {
  border: none;
  outline: none;
  color: #14213D;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 95%;
}
#banner .search_box .search_field button {
  border: none;
  background: none;
}
#banner .search_box .search_field i {
  font-size: 20px;
  transition: all linear .2s;
}
#banner .search_box .search_field i:hover {
  color: #FCA311;
}
.autocomplete-items {
  position: absolute;
  border-radius: 30px;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 102%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 15px;
  cursor: pointer;
  background-color: #E7E8EB;
  border-bottom: 1px solid #fff;
  text-align: left;
  transition: all linear .3s;
}
.autocomplete-items div:hover {
  font-weight: 800;
  border-bottom: 1px solid #14213D;
}
#banner .banner_example {
  padding-bottom: 105px;
}
#banner .banner_example h6 {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(20, 33, 61, .65);
}