#footer {
  background-color: #14213D;
  margin-top: 100px;
  color: #fff;
}

#footer .footer_main {
  padding-top: 95px;
  padding-bottom: 60px;
}

#footer .footer_main .footer_title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FCA311;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#footer .footer_main .r_title {
  font-weight: 400;
}

#footer .footer_main .follow_icons {
  margin-bottom: 44px;
}
#footer .footer_main .follow_icons a {
  color: #14213D;
  margin-right: 11px;
}
#footer .footer_main .follow_icons a:hover i {
  background-color: #FCA311;
}
#footer .footer_main .follow_icons i {
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  transition: all linear .3s;
}

#footer .footer_main .contact_us .contact_details {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#footer .footer_main .contact_us .contact_details i {
  font-size: 16px;
  margin-right: 14px;
}
#footer .footer_main .contact_us .contact_details a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #555;
}

#footer .footer_main .footer_link .all_links a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  display: block;
  margin-bottom: 8px;
  text-transform: capitalize;
  transition: all linear .3s;
}
#footer .footer_main .footer_link .all_links a:hover {
  color: #FCA311;
}

#footer .footer_main .newsletter_details {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 38px;
}
#footer .footer_main .newsletter form {
  position: relative;
}
#footer .footer_main .newsletter .footer_subscribe {
  border: none;
  height: 40px;
  width: 60%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 14px;
}
#footer .footer_main .newsletter .footer_subscribe:focus {
  outline:none;
}
#footer .footer_main .newsletter .subscribe_button {
  background-color: #FCA311;
  border: none;
  border-radius: 0 40px 40px 0;
  position: absolute;
  color: #14213D;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  padding: 0 14px 0 10px;
  right: 0;
  top: 0;
  transition: all linear .3s;
  width: 40%;
}
#footer .footer_main .newsletter .subscribe_button:hover {
  color: #fff;
}

#footer .footer_copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #000;
  color: #c7c7c7;
  padding: 25px 0;
}
#footer .footer_copyright .c_link {
  color: #FCA311;
}