<!-- Start Privacy Policy -->
<div class="policy-page__section">
  <h3 class="policy-page__heading">Go Template Privacy Policy</h3>

  <p>
      GoTemplate always deals with privacy issues in relation to its website. Users' privacy is very important to us
      and users must agree to the terms &amp; conditions of this Policy before becoming a member/user/author.
  </p>

  <p>
      This Policy governs the information we collect about you and your use of information that we provide to you. By
      accepting this Policy and the User Terms &amp; Conditions Agreement, you expressly consent to our use and
      disclosure of your personal information in a manner prescribed in this Policy. You acknowledge this by using the
      website.
  </p>

  <p>
      For the purposes of data protection, GoTemplate stores your personal information and datas' in it&rsquo;s own
      server.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Information About Children</h3>

  <p>Children (persons under the age of 18 years) are not eligible to use our services unsupervised and we will
      recommend that children should not submit any personal information to us. If you are under the age of 18 years,
      you can browse the website only in conjunction with and under the supervision of your parents or guardians. If
      you are under 18 years of age you cannot use the Membership Section of the website.</p>

  <p>It is the responsibility of parents to monitor their children&rsquo;s use of the website.</p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Information collection - The General Public / Users</h3>

  <p>Our primary purpose is to provide a safer trading experience and encourage buyers and sellers using the website
      as a medium. We only collect personal information about you that we consider necessary for this purpose and to
      achieve this goal.</p>

  <p>You are under no obligation to provide us with this information and can access many aspects of the website
      without providing us any personal information.</p>

  <p>When you visit this website, we can record certain information in relation to your visit such as:</p>

  <ul class="policy-page__ul">
      <li>Your IP or proxy server IP</li>
      <li>Basic domain information</li>
      <li>Your Internet service provider is sometimes captured depending on the configuration of your ISP connection</li>
      <li>The date and time of your visit to the website</li>
      <li>The length of your session</li>
      <li>The pages which you have accessed</li>
      <li>The number of times you access our site within any month</li>
      <li>The size of file you look at</li>
      <li>The website which referred you to our website</li>
      <li>The operating system which your computer uses</li>
  </ul>

  <p>This information is only used for statistical and website development purposes.</p>

  <p>Various pages on the GoTemplate website invite you to provide us your name and contact details, for example,
      regarding the subscription of our newsletter, or to enable us to provide you with website related services such
      as notifications.</p>

  <p>If you use our website&rsquo;s feedback and support forms, you will be asked to provide your name, organization,
      title, address, email address and telephone number. Privacy policy will not otherwise collect information from
      you through this website unless you knowingly provide it to us.</p>

  <p>By voluntarily providing information to us when using the website, you are consenting to the collection and use
      of your personal information by us.</p>

  <p>The website uses session cookies, which are used only during a browsing session, and expire when you quit your
      browser. Upon closing your browser, the session cookie set by this website is destroyed and no personal
      information is maintained which might identify you should you visit our Site at a later date.</p>

  <p>If you choose to buy or sell on our website, we collect information about your buying and selling details. This
      information is only used for statistical and website development purposes.</p>

  <p>Please note that when you voluntarily disclose information on the bulletin boards or in the forums or in the chat
      areas of the website or in member profile pages, your personal and other information disclosed in your
      communication shall become public information and can be collected and used by other parties. We cannot control
      what third parties in the bulletin board, chat room or member profile pages do with your personal information.
  </p>

  <p>This information can be shared with the following companies:</p>

  <ol class="policy-page__ol">
      <li>Facebook</li>
      <li>Google</li>
  </ol>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Information collection - Registered&nbsp; Members/ Authors</h3>

  <p>We collect information from people who use the Membership Section of our Site (&ldquo;Members&rdquo;). This information may be used:</p>

  <ol class="policy-page__ol">
      <li>To send news, information about our activities and general promotional material which we believe may be useful to you or us</li>
      <li>To monitor who is accessing the membership section of the website or using services offered on the website</li>
      <li>To profile the type of people accessing the website</li>
  </ol>

  <p>If you choose to buy or sell on our website we collect information about your buying and selling behaviours.</p>

  <p>If you use a payment facilitator on the website, we collect additional necessary information, including but not limited to billing address, credit card number and credit card expiry date.</p>

  <p>Depending on your choice of payment method this information can be shared with the following parties:</p>
  <ul class="policy-page__ul">
      <li>Local Banks</li>
      <li>1 Card</li>
      <li>Bkash</li>
      <li>Rocket</li>
      <li>Nagad</li>
      <li>Etc.</li>
  </ul>

  <p>Use of Information &amp; Disclosure</p>

  <p>Privacy policy will only use the information it collects through the Site for the following purposes:</p>

  <ul class="policy-page__ul">
      <li>Forwarding important information relating to Privacy policy activities and other requested information</li>
      <li>Contacting you in response to your feedback or query to discuss our services</li>
      <li>Monitoring Site performance</li>
      <li>Improving our website and services to you</li>
      <li>Internal administration</li>
      <li>Other purposes that are in accordance with your instructions</li>
  </ul>

  <p>Privacy policy will not give, sell, trade or otherwise disclose any personal information about you to a third
      party unless:</p>

  <ul class="policy-page__ul">
      <li>You have provided us with your consent</li>
      <li>We are required to do so by law</li>
  </ul>
</div>

<div class="policy-page__section">
  <h3>Cookies &amp; Advertising</h3>

  <p>Occasionally, we may use third party advertising companies to serve ads based on prior visits to the website.
      These advertising companies use cookies to anonymously collect data.</p>

  <p>No personally identifiable information is collected by these cookies.
      The anonymous data they collect is kept separate from the personal information in your Member account.</p>
</div>

<div class="policy-page__section">
  <h3>Access &amp; Correction of your details</h3>

  <p>You may request access to your personal information and can ask us to correct or remove your personal
      information.
      To request such action, please contact us at <a style="text-decoration: none;"
          href="mailto:gotemplate@emediaglobal.biz">gotemplate@emediaglobal.biz</a></p>
</div>

<div class="policy-page__section">
  <h3>Disclaimer</h3>
  <p>
      This website contains links to other sites. Privacy policy is not responsible for the privacy practices of linked sites. Underlined words and phrases are click-through links or hyperlinks to pages and websites. Privacy policy strongly recommends that you read the Privacy Policy of the linked websites as they may contain further terms and conditions which apply to you
  </p>
</div>

<div class="policy-page__section">
  <h3>Security</h4>
      <p>
          This website has security measures in place to protect the loss or misuse of, or alteration or unauthorized access to, information under our control. However, if you send information from this website, it will not be encrypted unless we expressly tell you it is.
      </p>
</div>

<div class="policy-page__section">
  <h3>Amendments to the Privacy Policy</h3>
  <p>We may change this Policy. Such changes will be effective when a notice of the change is made available on the website. We will provide you with thirty (30) days notice to allow you the opportunity to notify Privacy policy if you do not agree to such changes.</p>
</div>

<div class="policy-page__section">
  <h3>OPT &ndash; Out Provision</h3>
  <p>To protect you from unwanted email communications, Privacy policy adopts an opt-out facility for marketing communication. If you decide you no longer would like to receive marketing communications from us, please advise us by <a style="text-decoration: none;" href="https://www.codester.com/support">contacting support</a> or follow the instructions in the &ldquo;Opt-Out&rdquo; section of the email you have received.</p>

  <p>If you request us not to use personal information in a particular manner or at all, we will adopt all reasonable measures to observe your request but we may still use or disclose that information if:</p>

  <ol class="policy-page__ol">
      <li>we subsequently notify you of the intended use or disclosure and you do not object to that use or disclosure;</li>
      <li>we believe that the use or disclosure is reasonably necessary to assist a law enforcement agency or an agency responsible for governmental or public security in the performance of their functions;
      </li>
      <li>We are required by law to disclose the information.</li>
  </ol>
</div>

<h3>Further Information</h3>
<p>For further information about Privacy policy&rsquo;s privacy policy,&nbsp;</p>

<p>Please <a style="text-decoration: none;" href="mailto:gotemplate@emediaglobal.biz">contact support</a></p>
<!-- End Privacy Policy -->



<!-- Start Refund Policy -->
<div class="policy-page__section">
    <p>When you buy a Product, you acquire a license to use that Product from the Seller of the Product.</p>
    <p>Products are subject to different terms of use – depending on the type of license that you choose when buying the
        Product.</p>
    <p>The different types of licenses and the conditions of use are set out - </p>

    <h5>Regular License</h5>
    <p>
        A regular license allows an item to be used in one project for either personal or commercial use by
        you or on behalf of a client. The item cannot be offered for resale either on its own or as part of
        a project. Distribution of source files is not permitted.
    </p>

    <h5>Extended License</h5>
    <p>
        An extended license allows an item to be used in unlimited projects for either personal or commercial use.
        The item cannot be offered for resale "as-is". It is allowed to distribute/sublicense the source files as
        part of a larger project.
    </p>

    <p>
        Depending on the use you want to make of a Product, you will need to select the correct license
        required by you. You are responsible for choosing, and warrant that you have chosen, the correct
        license to meet your requirements. You acknowledge that Member terms and conditions have the right
        to enforce against you the terms of any license that you have from a Seller.
    </p>

    <p>If you buy a Product, you do so on the following terms:</p>
    <ol class="policy-page__ol">
        <li>you cannot cancel an order for a Product once the order has been submitted;</li>
        <li>GoTemplate does not give any undertaking as to the continued availability of Products
            offered for sale on the website;</li>
        <li>Once your order for a Product is accepted, and you pay the fee, you acquire a
            non-exclusive license to use the Product in accordance with the conditions of the license that you acquire;
        </li>
        <li>ownership of the Product remains with the Seller;</li>
        <li>payment of the fee will be made at the time of purchase; and</li>
        <li>Sellers are not permitted to buy any of their own Products.</li>
    </ol>

    <h5>Refunds</h5>
    <p>
        Downloaded digital items will not be refunded except as required under the Consumer Law or relevant consumer
        protection laws of Bangladesh.
    </p>
    <p>
        If you want a refund or credit on a Product you must make a claim to <a
            href="https://gotemplate.emediaglobal.biz/">Support</a>.
        We will assess claims on their merits, with regard to the digital nature of the goods and any preview or
        inspection that was available before purchase.
    </p>
    <p>There is no obligation to provide a refund or credit for reasons including (but not limited to) if you:
    </p>

    <ol class="policy-page__ol">
        <li>have changed your mind about a Product;</li>
        <li>bought a Product by mistake;</li>
        <li>do not have sufficient expertise to use the Product;</li>
        <li>ask for goodwill; or</li>
        <li>can no longer access a Product because it has been removed by its Seller from the website
            <strong>(you are advised to download Products immediately upon purchase)</strong>.</li>
    </ol>

    <p>
        When a refund or credit has been assessed by us as due, this will be paid using the same manner of purchase
        (that is, if the Product was bought using Member terms and conditions Credits, the Buyer will be refunded in
        Member terms and conditions credits; if the Product was bought using a SSL Commerz the Buyer will be refunded
        using that mechanism).
    </p>

    <p>
        You acknowledge and agree that despite Member terms and conditions’s reasonable precautions, Products may be
        listed at an incorrect price or with incorrect information due to a typographical error or similar oversight. In
        these circumstances, Member terms and conditions reserves the right to cancel or reverse a transaction, even
        after your order has been confirmed and a payment has been processed. If a transaction is cancelled, Member
        terms and conditions will promptly arrange for any payment to be credited or refunded.
    </p>

    <p>
        You agree and acknowledge that if, as a Buyer, you lodge a dispute with SSL Commerz we are unable to make any
        payment out of your Member Account until the SSL Commerz dispute has been closed.
    </p>

    <p>
        You agree that when a SSL Commerz dispute or claim is not closed by you, but by SSL Commerzl you don't have any
        right to any refund related to the transaction that has been disputed or claimed.
    </p>
</div>

<div>
    <h3 class="refund-heading">Contacting us</h3>

    <p>
        If you would like to contact us concerning any matter relating to this Refund Policy, you may send an email to
        <a href="mailto:gotemplate@emediaglobal.biz">gotemplate@emediaglobal.biz</a>
    </p>
</div>
<!-- End Refund Policy -->


<!-- Start Term and Conditions -->
<div class="policy-page__section">
  <p>Welcome to GoTemplate!</p>

  <p>
    These terms and conditions outline the rules and regulations for the use of GoTemplate’s Website, 
    located at <a href="https://gotemplate.emediaglobal.biz/">https://gotemplate.emediaglobal.biz/</a>
  </p>

  <p>
    By accessing this website we assume you accept these terms and conditions. 
    Do not continue to use GoTemplate if you do not agree to take all of the terms and conditions 
    stated on this page.
  </p>

  <p>
    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer 
    Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this 
    website and compliant to the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” 
    and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. 
    All terms refer to the offer, acceptance, and consideration of payment necessary to undertake 
    the process of our assistance to the Client in the most appropriate manner for the express purpose 
    of meeting the Client’s needs in respect of the provision of the Company’s stated services, 
    in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology 
    or other words in the singular, plural, capitalization and/or he/she or they, are taken as 
    interchangeable and therefore as referring to the same.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Cookies</h3>
  <p>
    We employ the use of cookies. By accessing GoTemplate, you agreed to use cookies in agreement 
    with the GoTemplate’s Privacy Policy.
  </p>
  <p>
    Most interactive websites use cookies to let us retrieve the user’s details for each visit. 
    Cookies are used by our website to enable the functionality of certain areas to make it easier 
    for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">License</h3>
  <p>
    Unless otherwise stated, GoTemplate and/or its licensors own the intellectual property rights 
    for all material on GoTemplate. All intellectual property rights are reserved. 
    You may access this from GoTemplate for your own personal use subjected to restrictions set 
    in these terms and conditions.
  </p>
  <p>You must not:</p>

  <ol class="policy-page__ol">
    <li>Republish material from GoTemplate</li>
    <li>Sell, rent or sub-license material from GoTemplate</li>
    <li>Reproduce, duplicate or copy material from GoTemplate</li>
    <li>Redistribute content from GoTemplate</li>
  </ol>

  <p>This Agreement shall begin on the date hereof.</p>

  <p>
    Parts of this website offer an opportunity for users to post and exchange opinions and information 
    in certain areas of the website. GoTemplate does not filter, edit, publish or review Comments 
    prior to their presence on the website. Comments do not reflect the views and opinions of GoTemplate, 
    its agents and/or affiliates. Comments reflect the views and opinions of the person who posts their 
    views and opinions. To the extent permitted by applicable laws, GoTemplate shall not be liable for 
    the Comments or for any liability, damages or expenses caused and/or suffered as a result of any 
    use of and/or posting of and/or appearance of the Comments on this website.
  </p>

  <p>
    GoTemplate reserves the right to monitor all Comments and to remove any Comments which can be 
    considered inappropriate, offensive or causes breach of these Terms and Conditions.
  </p>

  <p>You warrant and represent that:</p>

  <ul class="policy-page__ul">
    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
    <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
    <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
    <li>Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
  </ul>

  <p>
    You hereby grant GoTemplate a non-exclusive license to use, reproduce, edit and authorize others to use, 
    reproduce and edit any of your Comments in any and all forms, formats or media.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Hyperlinking to our Content</h3>
  <p>The following organizations may link to our Website without prior written approval:</p>

  <ul class="policy-page__ul">
    <li>Government agencies;</li>
    <li>Search engines;</li>
    <li>News organizations;</li>
    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
    <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Website.</li>
  </ul>

  <p>
    These organizations may link to our home page, to publications or to other Website information 
    so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, 
    endorsement or approval of the linking party and its products and/or services; and (c) fits within 
    the context of the linking party’s site.
  </p>

  <p>We may consider and approve other link requests from the following types of organizations:</p>

  <ul class="policy-page__ul">
    <li>commonly-known consumer and/or business information sources;</li>
    <li>dot.com community sites;</li>
    <li>associations or other groups representing charities;</li>
    <li>online directory distributors;</li>
    <li>internet portals;</li>
    <li>accounting, law and consulting firms; and</li>
    <li>educational institutions and trade associations.</li>
  </ul>

  <p>
    We will approve link requests from these organizations if we decide that: 
  </p>
  <ol class="policy-page__ol" type="a">
    <li>the link would not make us look unfavorably to ourselves or to our accredited businesses;</li>
    <li>the organization does not have any negative records with us;</li>
    <li>the benefit to us from the visibility of the hyperlink compensates the absence of GoTemplate; and</li>
    <li>the link is in the context of general resource information.</li>
  </ol>
  

  <p>
    These organizations may link to our home page so long as the link: 
  </p>
  <ol class="policy-page__ol" type="a">
    <li>is not in any way deceptive;</li>
    <li>does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and</li>
    <li>fits within the context of the linking party’s site.</li>
  </ol>

  <p>
    If you are one of the organizations listed in paragraph 2 above and are interested in linking 
    to our website, you must inform us by sending an email to GoTemplate. Please include your name, 
    your organization name, contact information as well as the URL of your site, a list of any URLs 
    from which you intend to link to our Website, and a list of the URLs on our site to which you 
    would like to link. Wait 2-3 weeks for a response.
  </p>

  <p>Approved organizations may hyperlink to our Website as follows:</p>

  <ul class="policy-page__ul">
    <li>By use of our corporate name; or</li>
    <li>By use of the uniform resource locator being linked to; or</li>
    <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
  </ul>

  <p>
    No use of GoTemplate’s logo or other artwork will be allowed for linking absent a trademark 
    license agreement.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">iFrames</h3>
  <p>
    Without prior approval and written permission, you may not create frames around our Web Pages 
    that alter in any way the visual presentation or appearance of our Website.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Content Liability</h3>
  <p>
    We shall not be held responsible for any content that appears on your Website. 
    You agree to protect and defend us against all claims that are rising on your Website. 
    No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, 
    or which infringes, otherwise violates, or advocates the infringement or other violation of, any third 
    party rights.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Your Privacy</h3>
  <p>
    Please read Privacy Policy (link of GoTemplate privacy policy)
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Refund Policy</h3>
  <p>
    Please check our refund policy found in this page: GoTemplate Refund Policy (link of GoTemplate refund policy)
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Reservation of Rights</h3>
  <p>
    We reserve the right to request that you remove all links or any particular link to our Website. 
    You approve to immediately remove all links to our Website upon request. 
    We also reserve the right to amend these terms and conditions and it’s linking policy at any time. 
    By continuously linking to our Website, you agree to be bound to and follow these linking terms 
    and conditions.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Removal of links from our website</h3>
  <p>
    If you find any link on our Website that is offensive for any reason, you are free to contact 
    and inform us at any moment. We will consider requests to remove links but we are not 
    obligated to or so or to respond to you directly.
  </p>
  <p>
    We do not ensure that the information on this website is correct, we do not warrant its completeness 
    or accuracy; nor do we promise to ensure that the website remains available or that the material 
    on the website is kept up to date.
  </p>
</div>

<div class="policy-page__section">
  <h3 class="policy-page__heading">Disclaimer</h3>
  <p>
    To the maximum extent permitted by applicable law, we exclude all representations, warranties, 
    and conditions relating to our website and the use of this website. 
    Nothing in this disclaimer will:
  </p>

  <ul class="policy-page__ul">
    <li>limit or exclude our or your liability for death or personal injury;</li>
    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
  </ul>

  <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer:</p>

  <ol class="policy-page__ol" type="a">
    <li>are subject to the preceding paragraph; and</li>
    <li>govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</li>
  </ol>

  <p>
    As long as the website and the information and services on the website are provided free of charge, 
    we will not be liable for any loss or damage of any nature.
  </p>
</div>
<!-- End Term and Conditions -->